:where(*), :where(*::before), :where(*::after) {
  box-sizing: border-box;
  margin: 0;
}

:where(*:focus) {
  outline: 0.125em solid var(--focus-outline, currentColor);
}

html {
  color-scheme: dark light;
  overflow-x: hidden;
}

/* stable scrollbar gutters */
html {
	overflow-y: scroll;
}
@supports (scrollbar-gutter: stable) {
	html {
		overflow-y: auto;
		scrollbar-gutter: stable;
	}
}

/* Animate focus outline */
@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active)):focus-visible {
    transition-duration: 0.25s;
  }
}

:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

:where(button) {
  appearance: none;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
  border: 1px solid currentColor;
  padding: 0.5em;  
}

:root {
  --blue-9: #ebf3ff;
  --blue-8: #d6e7ff;
  --blue-7: #c2dbff;
  --blue-6: #adcfff;
  --blue-5: #81b6ff;
  --blue-4: #3388ff;
  --blue-3: #0a70ff;
  --blue-2: #004cb8;
  --blue-1: #00337a;
  --blue-0: #002252;

  --indigo-9: #F5EBFF;
  --indigo-8: #E1C2FF;
  --indigo-7: #C999Ff;
  --indigo-6: #B870Ff;
  --indigo-5: #a347ff;
  --indigo-4: #8f1fff;
  --indigo-3: #6600cc;
  --indigo-2: #5200a3;
  --indigo-1: #3d007a;
  --indigo-0: #290052;
  
  --bubble-pink-9: #FFEBED;
  --bubble-pink-8: #F9C8DC;
  --bubble-pink-7: #F7B6D1;
  --bubble-pink-6: #F17EAC;
  --bubble-pink-5: #EF6CA3;
  --bubble-pink-4: #DC186A;
  --bubble-pink-3: #931047;
  --bubble-pink-2: #6e0c35;
  --bubble-pink-1: #490823;
  --bubble-pink-0: #250412;

  --ash: #171718;
  --gray: #333;
  --silver: #ddd;
  --whitesmoke: #f7f7fa;

  --primary-color: light-dark(var(--blue-4), var(--indigo-4));
  
  --bg: light-dark(var(--whitesmoke), var(--ash));
  --fg: light-dark(var(--ash), var(--whitesmoke));
  --headline-fg: light-dark(var(--blue-1), var(--blue-8));
  --header-bg: light-dark(var(--blue-6), var(--blue-2));
  --header-fg: light-dark(var(--ash), var(--whitesmoke));
  --border-color: light-dark(var(--blue-7), var(--blue-4));
  --section-bg: light-dark(var(--blue-9), var(--blue-0));
  --nested-section-bg: light-dark(var(--blue-8), var(--blue-1));
  --blockquote-bg: light-dark(var(--silver), var(--gray));
  --blockquote-decoration: light-dark(var(--bubble-pink-4), var(--bubble-pink-6));
  --link-fg: light-dark(var(--blue-2), var(--blue-8));
  --vlink-fg: light-dark(var(--indigo-2), var(--indigo-8));
}

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  padding:0;
  padding-inline-start: 1.4em;
}

a {
  color: var(--link-fg);
  transition: transform 100ms ease, text-underline-offset 100ms ease;
}

a:visited {
  color: var(--vlink-fg);
}

a:hover {
  text-underline-offset: 2px;
}


*:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 4px;
}

html {
  color-scheme: dark light;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--fg);
}

h1, h2, h3 {
  --flow-space: 2em;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-weight: normal;
  color: var(--headline-fg);
  line-height: 1.2;
}

header {
  
  
  background: var(--header-bg);
  color: var(--header-fg);
  padding: 2rem 1rem;
  
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

header span.caption {
  font-size: 2.5em;
}

main {
  margin: 4rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  display: block;
  width: 200px;
}

.wrapper {
  width: min(100% - 2rem, var(--container-max, 100ch));
  margin-inline: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.grid {
  --min: 25ch;
  --gap: 1rem;

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.card {
  border: 1px solid var(--border-color, #777);
  padding: 1rem;
  border-radius: 0.5rem;
}

footer {
  margin-block-start: 4rem;
  padding: 1rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  
  td, th {
    border: 1px solid currentColor;
    padding: 0.25rem 0.5rem;
  }

  th { 
    border-bottom-width: 2px;
  }
}

blockquote {
  padding: 1rem;
  background: var(--blockquote-bg);
  border-left: 0.5rem solid var(--blockquote-decoration);
  border-radius: 0.5rem;
}

blockquote > * + * {
  margin-block-start: 1em;
}

section {
  background: var(--section-bg);
  box-shadow: 2px 2px 4px #0007;
  padding: 1rem;
  border-radius: 0.5rem;
}

section section {
  background: var(--nested-section-bg);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

button.btn {
  --outline-color: #fff;

  background: var(--btn-primary, #def);
  color: #000;

  transform: translateY(-2px);
  box-shadow: 0 2px 2px #000;
  border: 1px solid transparent;
  font-weight: bold;

  &:active {
    transform: translateY(0);
  }
}


.dialog {
  margin: auto;
  position: relative;
}

.dialog__body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dialog--search {
  height: 100%;
  width: 100%;
  

  & input {
    margin-block-start: 2.5em;
    width: 100%;
  }
}

.dialog__results {
  margin-block-start: 1em;
  flex: 1 auto;
  overflow-y: auto;

  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;

    & li {
      padding: 0.5em;
      border-radius: 0.25em;
      background: var(--blockquote-bg);
      border-left: 1ch solid transparent;
      
      & a {
        scroll-padding: 3em;
      }

      &:has(:focus) {
        border-left: 1ch solid var(--blockquote-decoration);
      }
    }
  }
}

.dialog__close {
  position: absolute;
  stroke-width: 1px;
  right: 0.5em;
  top: 0.5em;
  padding: 0.5em;

  > svg {
    display: block;
    width: 1em;
    height: 1em;
    color: #fff!important;
  }
}
