<figure>
<picture>
  <source srcset="{{ meta.root }}/images/figure-user-experience-dark.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)">
  <img src="{{ meta.root }}/images/figure-user-experience.svg" alt="Der menschzentrierte Gestaltungsprozess, aus dem CPUX-F-Curriculum, S. 6">
</picture>
<figcaption>
Usability und User Experience, aus dem <a href="https://www.uxqb.org/public/documents/CPUX-F_DE_Curriculum-und-Glossar.pdf#page=11" target="_blank">CPUX-F-Curriculum, S. 11</a>
</figcaption>
</figure>
