<figure>
<picture>
  <source srcset="{{ meta.root }}/images/figure-der-menschzentrierte-gestaltungsprozess-dark.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)">
  <img src="{{ meta.root }}/images/figure-der-menschzentrierte-gestaltungsprozess.svg" alt="Der menschzentrierte Gestaltungsprozess, aus dem CPUX-F-Curriculum, S. 6">
</picture>
<figcaption>
Der menschzentrierte Gestaltungsprozess, aus dem CPUX-F-Curriculum, S. 6
</figcaption>
</figure>
