<figure>
<picture>
  <source srcset="{{ meta.root }}/images/figure-persona-erna-dark.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)">
  <img src="{{ meta.root }}/images/figure-persona-erna.svg" alt="Persona Erna, 52, lebt in einem Einfamilienhaus bei Dortmund, verreist gern, bucht Hotels aktuell vor allem telefonisch">
</picture>
<figcaption>
Persona, basierend auf <a href="https://www.uxqb.org/public/documents/CPUX-F_DE_Curriculum-und-Glossar.pdf#page=29" target="_blank">CPUX-F-Curriculum, S. 29</a>
</figcaption>
</figure>
