* {
  box-sizing: border-box;
  margin: 0;
}

*:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 4px;
}

html {
  color-scheme: dark light;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.4;

  margin: 0;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, .caption-bold {
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  line-height: 1;
  font-weight: 900;
}

header {
  background: #436;
  color: #fff;
  padding: 2rem 1rem;
  font-size: 4em;
}

main {
  margin: 4rem 0;
}


.logo {
  display: block;
  max-width: 360px;
}

.wrapper {
  width: min(100% - 2rem, var(--container-max, 100ch));
  margin-inline: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

footer {
  margin-block-start: 4rem;
  padding: 1rem;
  text-align: center;
}
