:root {
  --blue-9: #ebf3ff;
  --blue-8: #d6e7ff;
  --blue-7: #c2dbff;
  --blue-6: #adcfff;
  --blue-5: #81b6ff;
  --blue-4: #3388ff;
  --blue-3: #0a70ff;
  --blue-2: #004cb8;
  --blue-1: #00337a;
  --blue-0: #002252;

  --indigo-9: #F5EBFF;
  --indigo-8: #E1C2FF;
  --ingigo-7: #C999Ff;
  --indigo-6: #B870Ff;
  --indigo-5: #a347ff;
  --indigo-4: #8f1fff;
  --indigo-3: #6600cc;
  --indigo-2: #5200a3;
  --indigo-1: #3d007a;
  --indigo-0: #290052;
  
  --bubble-pink-9: #FFEBED;
  --bubble-pink-8: #FFC2C8;
  --bubble-pink-7: #FF99A3;
  --bubble-pink-6: #FF707E;
  --bubble-pink-5: #FF0A23;
  --bubble-pink-4: #CC0014;
  --bubble-pink-3: #A30010;
  --bubble-pink-2: #8f000e;
  --bubble-pink-1: #520008;
  --bubble-pink-0: #290004;

  --ash: #171718;
  --whitesmoke: #f7f7fa;

  --primary-color: light-dark(var(--blue-4), var(--indigo-4));
  
  --bg: light-dark(var(--whitesmoke), var(--ash));
  --fg: light-dark(var(--ash), var(--whitesmoke));
  --headline-fg: light-dark(var(--indigo-1), var(--blue-8));
  --header-bg: light-dark(var(--blue-6), var(--blue-2));
  --header-fg: light-dark(var(--ash), var(--whitesmoke));
  --border-color: light-dark(var(--blue-7), var(--indigo-4));
  --primary-color: light-dark(var(--blue-5), var(--indigo-5));
  --section-bg: light-dark(var(--blue-9), var(--indigo-1));
  --nested-section-bg: light-dark(var(--blue-8), var(--indigo-2));
  --blockquote-bg: light-dark(var(--blue-7), var(--indigo-3));
}

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  padding:0;
  padding-inline-start: 1.4em;
}

*:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 4px;
}

html {
  color-scheme: dark light;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--fg);
}

h1, h2, h3 {
  --flow-space: 2em;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-weight: normal;
  color: var(--headline-fg);
  line-height: 1.2;
}

header {
  background: var(--header-bg);
  color: var(--header-fg);
  padding: 2rem 1rem;
  font-size: 2.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

main {
  margin: 4rem 0;
}

.logo {
  display: block;
  width: 200px;
}

.wrapper {
  width: min(100% - 2rem, var(--container-max, 100ch));
  margin-inline: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.grid {
  --min: 25ch;
  --gap: 1rem;

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.card {
  border: 1px solid var(--border-color, #777);
  padding: 1rem;
  border-radius: 0.5rem;
}

footer {
  margin-block-start: 4rem;
  padding: 1rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  
  td, th {
    border: 1px solid currentColor;
    padding: 0.25rem 0.5rem;
  }

  th { 
    border-bottom-width: 2px;
  }
}

blockquote {
  padding: 1rem;
  background: var(--blockquote-bg);
  border-left: 0.5rem solid var(var(--primary-color));
  border-radius: 0.5rem;
}

blockquote > * + * {
  margin-block-start: 1em;
}

section {
  background: var(--section-bg);
  box-shadow: 0 0 0.5rem light-dark(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  padding: 1rem;
  border-radius: 0.5rem;
}

section section {
  background: var(--nested-section-bg);
}
