:root {
  --bg: light-dark(#f4f0fa, #1b1123);
  --fg: light-dark(#111, #eee);
  --headline-fg: light-dark(#360015, #ffd8fe);
  --header-bg: light-dark(#fd9, #281e4f);
  --header-fg: light-dark(#111, #ffe);
  --border-color: light-dark(#ccc, #555);
  --primary-color: light-dark(#ff002f, #580081);
  --section-bg: light-dark(#ffecc9, #241530);
  --nested-section-bg: light-dark(#ffdb98, #2b1a39);
}

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  padding:0;
  padding-inline-start: 1.4em;
}

*:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 4px;
}

html {
  color-scheme: dark light;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--fg);
}

h1, h2, h3 {
  --flow-space: 2em;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-weight: normal;
  color: var(--headline-fg);
  line-height: 1.2;
  font-weight: 900;
}

header {
  background: var(--header-bg);
  color: var(--header-fg);
  padding: 2rem 1rem;
  font-size: 2.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

main {
  margin: 4rem 0;
}

.logo {
  display: block;
  width: 200px;
}

.wrapper {
  width: min(100% - 2rem, var(--container-max, 100ch));
  margin-inline: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.grid {
  --min: 25ch;
  --gap: 1rem;

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.card {
  border: 1px solid var(--border-color, #777);
  padding: 1rem;
  border-radius: 0.5rem;
}

footer {
  margin-block-start: 4rem;
  padding: 1rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  
  td, th {
    border: 1px solid currentColor;
    padding: 0.25rem 0.5rem;
  }

  th { 
    border-bottom-width: 2px;
  }
}

blockquote {
  padding: 1rem;
  background: var(--section-bg)
  border-left: 0.5rem solid var(var(--nested-section-bg));
  border-radius: 0.5rem;
}

blockquote > * + * {
  margin-block-start: 1em;
}

section {
  background: var(--section-bg);
  box-shadow: 0 0 0.5rem light-dark(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  padding: 1rem;
  border-radius: 0.5rem;
}

section section {
  background: var(--nested-section-bg);
}
