<!doctype html>
<html lang="de_DE">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">
    <title>{{ page.title }} – Lea's CPUX Cheatsheeet (WIP)</title>
    <link rel="stylesheet" href="https://learosema.github.io/cpux-prep/style.css">
  </head>
  <body>
    <header>
      <a class="logo" href="index.html">
        <svg role="img" aria-label="Logo, zur Startseite" viewBox="0 0 110 70">
          <g fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round">  
            <path d="M2 57 l4 4 h40 l-4-4" fill="#faa" />
            <path d="M42 7 l4 4 v 50l-4 -4z" fill="#639"/>
            <path d="M12 7 l4 4 v36h-4z" fill="#639"/>
            <path d="M2 7 v50 h40 v-50 h-10v40h-20v-40z" fill="#f39"/>
            <path d="M60 7 h-10 v10h10v10h10v10 h-10v10h-10v10 h20v-10h10v10h20v-10h-10v-10h-10v-10h10v-10h10v-10h-20v10h-10v-10z" fill="#3f9c"/>            
            <path d="M50 17 l 4 4 h6v-4z m10 10 l 4 4 h6v-4h-10m-10 30 l 4 4 h20 l-4 -4 h-20 m20 -10 l 4 4 h6v-4h-10m10 10l 4 4 h20 l-4 -4 h-20m0 -30 l 4 4 h 10 l-4 -4h-10m10 -10l 4 4 h 10 l-4 -4h-10" fill="#cfc"/>
            <path d="M70 7 l4 4v6h-4v-10m30 0 l4 4v10l-4-4v-10m-10 10 l4 4v10l-4-4v-10m-10 10 l4 4v6h-4v-10m10 10 l4 4v6h-4v-10m10 10 l4 4v10l-4 -4 v-10m-30 0 l4 4v10l-4 -4 v-10" fill="#152"/>
          </g>
        </svg>
      </a>
      <span class="caption-bold">Lea's CPUX Vorbereitung</span>
    </header>

    <main class="wrapper flow">
        <section>
          {{ content }}
        </section>
    </main>
    <footer>
      made with love by <a rel="me" href="https://lea.lgbt/@lea" target="_blank">Lea</a>
    </footer>
    <script type="module">
      import mermaid from './mermaid.esm.min.mjs';
      mermaid.initialize({startOnLoad:true,theme:'neutral'})
      await mermaid.run({querySelector:'code.language-mermaid'})
    </script>
  </body>
</html>
